.prestige-upgrade {
  cursor: pointer;
}

.prestige-easy {
  filter: hue-rotate(30deg) brightness(75%);
}

.prestige-medium {
  filter: hue-rotate(-20deg) brightness(75%);
}

.prestige-hard {
  filter: hue-rotate(-60deg) brightness(75%);
}

.prestige-locked {
  background-color: lightgrey;
  cursor: not-allowed !important;
}
