<div class="modal noselect fade" id="nextRegionModal" tabindex="-1" role="dialog" aria-labelledby="nextRegionModal">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" data-bind="text: `Travel to ${GameConstants.camelCaseToString(GameConstants.Region[player.highestRegion() + 1])}`">Travel to next region</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <p>
                   <strong>Congratulations on defeating the <span data-bind="text: GameConstants.camelCaseToString(GameConstants.Region[player.highestRegion()])"></span> Champion!</strong><br/>
                   You can now travel on to <span data-bind="text: GameConstants.camelCaseToString(GameConstants.Region[player.highestRegion() + 1])"></span>!<br/>
                   <br/>
                   <strong>There's a couple things you should know before you depart:</strong><br/>
                   The Gyms, Dungeons and Routes in the next region will be a lot tougher, You might want to breed some Pokemon to increase their attack before departing<br/>
                   You will also have to progress to the Dock in <span data-bind="text: GameConstants.camelCaseToString(GameConstants.Region[player.highestRegion() + 1])"></span> before you are able to travel between regions again.
               </p>
               <button class="btn btn-success btn-block" onclick="MapHelper.travelToNextRegion()" data-dismiss="modal">Lets go!</button>
               <button class="btn btn-warning btn-block" aria-label="Close" data-dismiss="modal">Maybe Later!</button>
           </div>
       </div>
    </div>
</div>
