<div class="modal noselect fade" id="PrestigeModal" tabindex="-1" role="dialog" aria-labelledby="PrestigeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- Replace the background before release, just for testing -->
            <div class="modal-body" id="prestige-modal-body"
                style="background: url(http://getwallpapers.com/wallpaper/full/b/e/0/387954.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;">

            </div>
        </div>
    </div>
</div>
